.header {
    background: #d9fb91;
    color: #000;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2 {
    color: #fff;
    background-color: #33394f;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px 15px;
}

.search-bar {
    height: 40px;
    width: 30%;
    border: 1px solid #33394f;
    border-radius: 5px;
}

::placeholder {
    font-size: 15px;
}

.nav-bar label {
    font-size: larger;
    font-weight: 500;
}
